#username{
    text-shadow:2px 2px 3px grey;
    border: 1px solid black;
    background: whitesmoke;
    color: #000000;
    padding: 5px;
    border-radius: 50px;
}

#link-title{
    text-decoration: none;
    color: goldenrod;
    text-shadow: 2px 2px 3px lightgoldenrodyellow;
}

#link-title:hover{
    text-decoration: underline;
}